body {
 background-image: linear-gradient(to right top, #03430c, #05490d, #07500f, #0a5610, #0e5d11, #106412, #116c13, #137314, #127d16, #108818, #0e921a, #099d1c);
 background-size: cover;
 background-repeat: no-repeat;
}

h1 {
    grid-row: 1;
    text-align: center;
    font-size: 65px;
    font-family: Great Vibes;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 250px 50px 100px 75px 100px 50px;
    grid-column-gap: 0px;
    grid-row-gap: 6px;
    
}

#player-deck {
    width: 150px;
}

#cpu-deck {
    width: 150px;
}

#p-card {
    width: 150px;
}

#c-card {
    width: 150px;
}

.war-cards {
    width: 100px;
}

.cards {
    grid-row: 2;
    display: flex;
    justify-content: space-evenly;
    
}


.winnerNotification {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: gold;
    grid-row: 3;
    font-family: Abril fatface;
}





.cardsRemaining {
    grid-row: 4;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-family: Abril fatface;
    text-align: center;
    padding-top: 20px;
}

.counts {
    color: white;
    grid-row: 5;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-family: Abril fatface;
    text-align: center;
    padding-top: 20px;
    
}

button {
    font-size: 20px;
    font-family: Abril fatface;
    width: 200px;
    height: 30px;
    border: none;
    color: white;
    background-color: rgb(101, 99, 249);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #4d0099;
    transition: ease-out 0.3s;
    cursor: pointer;
}

button:hover {
    box-shadow: inset 200px 0 0 0 #4d0099;
  }



.button {
    grid-row: 6;
    display: flex;
    justify-content: center; 
}

.sim-restart {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}



