body {
 background-image: linear-gradient(to right top, #03430c, #05490d, #07500f, #0a5610, #0e5d11, #106412, #116c13, #137314, #127d16, #108818, #0e921a, #099d1c);
 background-size: cover;
 background-repeat: no-repeat;
 
 
}

h1 {
    grid-row: 1;
    text-align: center;
    font-size: 50px;
    font-family: Great Vibes;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 300px 80px 60px 290px;
    grid-column-gap: 0px;
    grid-row-gap: 6px;
    
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 300px 80px 60px 290px;
    grid-column-gap: 0px;
    grid-row-gap: 6px; */

    
    
}

.cards {
    grid-row: 2;
    display: flex;
    justify-content: space-around;
    
}

.cardsRemaining {
    grid-row: 3;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-family: Abril fatface;
    text-align: center;
    padding-top: 20px;
}

.counts {
    grid-row: 4;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-family: Abril fatface;
    text-align: center;
    padding-top: 20px;
    
}

button {
    width: 150px;
    height: 30px;
    font-size: 20px;
    color: rgb(152, 157, 3);
    background-color: black;
}

.button {
    grid-row: 5;
    display: flex;
    justify-content: center; 
}

.hide {
    display: none;
}


